<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.iesb.seconverta">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/seconverta_laucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/seconverta_laucher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeConverta">

        <activity
            android:name=".view.ListCountriesActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>